# core
python-dotenv==1.0.1
requests==2.32.3
apscheduler==3.11.0
jinja2==3.1.6

# web service
fastapi==0.135.1
starlette==0.52.1
uvicorn[standard]==0.34.0

# AI
numpy==2.4.4
google-genai==0.3.0
chromadb[default]==1.5.5
