/* static/css/mobile.css */
@media (max-width: 680px) {
    html {
        font-size: 15px;
    }
    body {
        -webkit-text-size-adjust: 100%;
    }
    button, select, input[type="number"], input[type="text"], input[type="search"], input[type="time"], input[type="password"], textarea {
        padding: .6rem .75rem;
        font-size: 1.1rem;
    }
    .modal-window {
        padding: 0.8rem 1rem;
    }
    .container, .action-bar-content {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .header-user-display {
        gap: 0.4rem;
    }
    .header-user-display .theme-switcher::before {
        margin-right: 0;
    }
    #active-user-display {
        display: none; 
    }
    .preset-controls {
        flex-direction: column;
        align-items: stretch;
        gap: 0.8rem;
    }
    .preset-controls > .control-item,
    .preset-controls > .preset-buttons {
        flex: initial;
    }
    .preset-controls .button-group {
        flex-direction: column;
        align-items: stretch;
    }
    .preset-controls .button-group button {
        width: 100%;
        text-align: center;
    }
    .action-bar-content {
        flex-wrap: wrap;
        gap: 0.8rem;
    }
    .action-bar-content .build-options-container {
        flex-basis: 100%;
        order: 1;
        gap: 0.8rem;
    }
    .action-bar-content .build-options-container > select {
        flex-grow: 1;
    }
    #generate-mixed-playlist-btn {
        flex-grow: 1;
        order: 2;
        padding: 0.7rem 1rem;
    }
    #preview-playlist-btn {
        order: 3;
    }
    .action-bar-checkbox-label {
        flex-basis: 100%;
        order: 4;
        justify-content: center;
        margin-left: 0;
        padding: 0.5rem 0 0 0;
        border-top: 1px solid var(--border-color);
    }
    .tv-block-show-row > .tv-block-season,
    .tv-block-show-row > .tv-block-episode {
        padding: .6rem .3rem;
        font-size: 1.1rem;
    }
    table {
        font-size: 0.9rem;
    }
    th, td {
        padding: 0.6rem 0.5rem;
    }
}