# --- Example mixerbee .env file ---
# Can be configured manually or in the UI

# Your Emby server's full URL
EMBY_URL=http://your_emby_url:8096

# Credentials for a user to create playlists.
EMBY_USER=YourUser
EMBY_PASS=YourSecretPassword

# (Optional) Set a default user to be pre-selected in the web UI.
# If not set, it defaults to the EMBY_USER. 
# Currently disabled due to broken Emby delete API
# FRONTEND_DEFAULT_USER=Jamie

# (Optional) Add a Gemini key to enable the AI Block Builder..
#GEMINI_API_KEY=
