# --- Example mixerbee .env file ---

# Your Emby server's full URL
EMBY_URL=http://your_emby_url:8096

# Credentials for a user to create playlists.
EMBY_USER=YourUser
EMBY_PASS=YourSecretPassword

# (Optional) Add a Gemini key to enable the AI Block Builder..
# GEMINI_API_KEY=

# (Optional) Cache refresh value (unset/default 15 minutes)
# CACHE_REFRESH_MINUTES="30"
